<tr>
  <td>
    <%= image_tag "http://graph.facebook.com/#{friend.facebook_uid}/picture?type=square" %>
    <b><%= friend.name %></b> <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= friend.city %>
  </td>
</tr>