<tr>
  <td>
    <div class="friend clearfix">
      <%= image_tag "http://graph.facebook.com/#{friend.facebook_uid}/picture?type=square" %>
      <div class="info">
        <strong><%= friend.name %></strong><br>
        <%= friend.city %>

      </div>
    </div>
  </td>
</tr>