<h1>Home page</h1>
<p>
  Startup Sourcing is geek mafia organization helping launch napkin ideas into market launch-able & scalable solutions with iterative lean principles. We have been there done that and love doing it again everyday. We are great lovers of Ruby on Rails and Python. Everyone here is a co-founder and has a unique skill to drive his own way. We expect the culture to keep this culture to keep alive for next decade.
</p>
